In [1]:
import openpyxl
import pandas as pd
import os
import datetime
#from IPython.display import display

In [2]:
excelname= "kd"
sheetname = "kd"

wb = openpyxl.load_workbook(str(excelname)+".xlsx")
ws = wb[str(sheetname)]

In [3]:
dataset = []
i = 1
while(ws.cell(row= i, column= 1).value):
    row = []
    j = 1
    while(ws.cell(row= i, column= j).value):
        if j <6:
            row.append(ws.cell(row= i, column= j).value)
        j = j + 1
    dataset.append(row)
    i=i+1

In [4]:
pd.DataFrame(dataset)

               0      1      2      3      4
0           date   open   high    low  close
1     2003/06/30   37.1   37.4  36.92  37.08
2     2003/07/01  37.09   38.1  37.09  38.05
3     2003/07/02  38.17  38.82   38.1  38.69
4     2003/07/03   40.6   40.6  38.81     39
5     2003/07/04   39.1  39.26  38.75  39.26
6     2003/07/07   39.6     41   39.6     41
7     2003/07/08     42     42   40.7  41.19
8     2003/07/09   41.3   41.3  40.81  41.22
9     2003/07/10   41.2   41.2  40.05  40.05
10    2003/07/11   39.6  39.97   39.3  39.91
11    2003/07/14  39.95     41  39.92  40.66
12    2003/07/15   40.7  40.86  40.19  40.19
13    2003/07/16   40.5  40.98  40.24  40.85
14    2003/07/17   40.5  40.65   39.8   39.8
15    2003/07/18  39.78  39.98  39.55  39.92
16    2003/07/21     40  40.25   39.4   39.4
17    2003/07/22  39.41  39.98  39.41  39.98
18    2003/07/23   40.3   40.5     40  40.05
19    2003/07/24   40.2  41.23   40.2  41.23
20    2003/07/25     41  41.34  40.85  41.23
21    2003/07/28   41.9  41.94  41.57  41.58
22    2003/07/29  41.54  41.54  40.83  41.02
23    2003/07/30     41  41.02  40.55   40.6
24    2003/07/31  40.66     41  40.44  40.87
25    2003/08/01  41.28   41.6  41.05   41.6
26    2003/08/04  41.47  41.55  41.21   41.4
27    2003/08/05   41.5  41.61   40.5   40.5
28    2003/08/06   40.2   40.3  40.06  40.23
29    2003/08/07  40.35  40.77  39.97   40.7
...          ...    ...    ...    ...    ...
3398  2017/03/15   72.8     73   72.6  72.85
3399  2017/03/16   73.3  73.85   73.3   73.8
3400  2017/03/17  73.85   74.1  73.75     74
3401  2017/03/20  73.95  74.15  73.85  73.95
3402  2017/03/21   74.3   74.9   74.3   74.9
3403  2017/03/22  74.25  74.25     74   74.2
3404  2017/03/23   74.6  74.65  74.15  74.35
3405  2017/03/24  74.35   74.4   74.1  74.25
3406  2017/03/27     74   74.4  73.85   74.2
3407  2017/03/28  74.55   74.6  73.95  74.25
3408  2017/03/29  74.45   74.5     74     74
3409  2017/03/30     74  74.25   73.9   73.9
3410  2017/03/31  73.95   74.1   73.7   73.7
3411  2017/04/05  73.95   74.8  73.95  74.65
3412  2017/04/06   74.8   74.8   74.3   74.4
3413  2017/04/07   74.3   74.3   73.4   74.1
3414  2017/04/10   74.1  74.25     74   74.2
3415  2017/04/11   74.1   74.4  73.75   73.9
3416  2017/04/12   73.9   74.1  73.65  74.05
3417  2017/04/13   73.9  74.45   73.9   74.4
3418  2017/04/14   73.9   73.9   73.5  73.55
3419  2017/04/17  73.55   73.8  73.35   73.6
3420  2017/04/18  73.85     74   73.5   73.6
3421  2017/04/19   73.1  73.25  72.65   72.8
3422  2017/04/20  72.55   72.9   72.5   72.8
3423  2017/04/21  73.25   73.5   73.1   73.5
3424  2017/04/24   73.9  73.95  73.45  73.65
3425  2017/04/25  73.85   74.4   73.7  74.35
3426  2017/04/26   74.7   74.7   74.4  74.55
3427  2017/04/27  74.35   74.5  74.15   74.5

[3428 rows x 5 columns]

In [5]:
dataset[0].append("9日內最高價格")
dataset[0].append("9日內最低價格")
dataset[0].append("RSV(9)")
dataset[0].append("K(9)")
dataset[0].append("D(9)")
dataset[0].append("buy_day")
dataset[0].append("cum_buy_day")
dataset[0].append("sell_day")
#在列表添加新ㄉ項目

In [6]:
i=9
while i< len(dataset):
    highest=[]
    lowest=[]
    j=0
    while j <9:
        highest.append(dataset[i-j][2])
        lowest.append(dataset[i-j][3])
        j=j+1
    dataset[i].append(max(highest))
    dataset[i].append(min(lowest))
    i=i+1
#最近九日最低價\最近九日最高價

In [7]:
i=9
while i < len(dataset):
    dataset[i].append((dataset[i][4]-dataset[i][6])/(dataset[i][5]-dataset[i][6])*100)
    i=i+1
#RSV(t) = (今日收盤價 - 最近九日最低價)/ (最近九日最高價 - 最近九日最低價)*100

In [8]:
dataset[9].append(50)
dataset[9].append(50)
#K值 初始值 = 50, at day 9
#D值 初始值 = 50, at day 9

In [9]:
i=10
while i < len(dataset):
    dataset[i].append(dataset[i-1][8]*(2/3)+dataset[i][7]*(1/3))
    i+=1
#K(t)= K(t-1)*2/3 + RSV(t)*1/3, t = 10, 11, ..., T

In [10]:
i=10
while i < len(dataset):
    dataset[i].append(dataset[i-1][9]*(2/3)+dataset[i][8]*(1/3))
    i+=1
#D(t)= D(t-1)*2/3 + K(t)*1/3  , t = 10, 11, ..., T

In [11]:
i=9
while i < len(dataset):
    dataset[i].append(0)
    dataset[i].append(0)
    dataset[i].append(0)
    i+=1

In [12]:
i=10
while i < len(dataset):
    if dataset[i][8]>dataset[i][9] and dataset[i][8]>dataset[i-1][8] and dataset[i-1][11]!=1:
        dataset[i][10]=1
    if dataset[i][8]<dataset[i][9] and dataset[i][8]<dataset[i-1][8] and dataset[i-1][11]==1:
        dataset[i][12]=1
    if dataset[i][10]==1 or dataset[i-1][11]==1:
        dataset[i][11]=1
    if dataset[i][12]==1:
        dataset[i][11]=0
        
    i+=1
#KD黃金交叉-建議買進:當KD指標的K值由下往上突破D值，建議買進、做多    K(t) > D(t)
#KD死亡交叉-建議賣出:當KD指標的K值由上往下跌破D值時，建議賣出、做空  K(t) < D(t)

In [13]:
pd.DataFrame(dataset)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,date,open,high,low,close,9日內最高價格,9日內最低價格,RSV(9),K(9),D(9),buy_day,cum_buy_day,sell_day
1,2003/06/30,37.1,37.4,36.92,37.08,None,None,None,None,None,None,None,None
2,2003/07/01,37.09,38.1,37.09,38.05,None,None,None,None,None,None,None,None
3,2003/07/02,38.17,38.82,38.1,38.69,None,None,None,None,None,None,None,None
4,2003/07/03,40.6,40.6,38.81,39,None,None,None,None,None,None,None,None
5,2003/07/04,39.1,39.26,38.75,39.26,None,None,None,None,None,None,None,None
6,2003/07/07,39.6,41,39.6,41,None,None,None,None,None,None,None,None
7,2003/07/08,42,42,40.7,41.19,None,None,None,None,None,None,None,None
8,2003/07/09,41.3,41.3,40.81,41.22,None,None,None,None,None,None,None,None
9,2003/07/10,41.2,41.2,40.05,40.05,42,36.92,61.6142,50,50,0,0,0
10,2003/07/11,39.6,39.97,39.3,39.91,42,37.09,57.4338,52.4779,50.826,1,1,0
11,2003/07/14,39.95,41,39.92,40.66,42,38.1,65.641,56.8656,52.8392,0,1,0
12,2003/07/15,40.7,40.86,40.19,40.19,42,38.75,44.3077,52.6797,52.786,0,0,1
13,2003/07/16,40.5,40.98,40.24,40.85,42,38.75,64.6154,56.6582,54.0768,1,1,0
14,2003/07/17,40.5,40.65,39.8,39.8,42,39.3,18.5185,43.945,50.6995,0,0,1
15,2003/07/18,39.78,39.98,39.55,39.92,42,39.3,22.963,36.951,46.1167,0,0,0
16,2003/07/21,40,40.25,39.4,39.4,41.3,39.3,5,26.3007,39.5113,0,0,0
17,2003/07/22,39.41,39.98,39.41,39.98,41.2,39.3,35.7895,29.4636,36.1621,0,0,0
18,2003/07/23,40.3,40.5,40,40.05,41,39.3,44.1176,34.3483,35.5575,0,0,0
19,2003/07/24,40.2,41.23,40.2,41.23,41.23,39.4,100,56.2322,42.449,1,1,0
20,2003/07/25,41,41.34,40.85,41.23,41.34,39.4,94.3299,68.9314,51.2765,0,1,0
21,2003/07/28,41.9,41.94,41.57,41.58,41.94,39.4,85.8268,74.5632,59.0387,0,1,0
22,2003/07/29,41.54,41.54,40.83,41.02,41.94,39.4,63.7795,70.9686,63.0154,0,1,0
23,2003/07/30,41,41.02,40.55,40.6,41.94,39.4,47.2441,63.0605,63.0304,0,1,0
24,2003/07/31,40.66,41,40.44,40.87,41.94,39.4,57.874,61.3316,62.4642,0,0,1
25,2003/08/01,41.28,41.6,41.05,41.6,41.94,39.41,86.5613,69.7415,64.8899,1,1,0
26,2003/08/04,41.47,41.55,41.21,41.4,41.94,40,72.1649,70.5493,66.7764,0,1,0
27,2003/08/05,41.5,41.61,40.5,40.5,41.94,40.2,17.2414,52.78,62.1109,0,0,1
28,2003/08/06,40.2,40.3,40.06,40.23,41.94,40.06,9.04255,38.2009,54.1409,0,0,0
29,2003/08/07,40.35,40.77,39.97,40.7,41.94,39.97,37.0558,37.8192,48.7003,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3398,2017/03/15,72.8,73,72.6,72.85,73.1,71.55,83.871,61.9158,43.7229,0,1,0
3399,2017/03/16,73.3,73.85,73.3,73.8,73.85,71.55,97.8261,73.8859,53.7773,0,1,0
3400,2017/03/17,73.85,74.1,73.75,74,74.1,71.55,96.0784,81.2834,62.946,0,1,0
3401,2017/03/20,73.95,74.15,73.85,73.95,74.15,71.55,92.3077,84.9582,70.2834,0,1,0
3402,2017/03/21,74.3,74.9,74.3,74.9,74.9,71.55,100,89.9721,76.8463,0,1,0
3403,2017/03/22,74.25,74.25,74,74.2,74.9,71.55,79.1045,86.3496,80.0141,0,1,0
3404,2017/03/23,74.6,74.65,74.15,74.35,74.9,72.15,80,84.233,81.4204,0,1,0
3405,2017/03/24,74.35,74.4,74.1,74.25,74.9,72.6,71.7391,80.0684,80.9697,0,0,1
3406,2017/03/27,74,74.4,73.85,74.2,74.9,72.6,69.5652,76.5673,79.5023,0,0,0
3407,2017/03/28,74.55,74.6,73.95,74.25,74.9,73.3,59.375,70.8366,76.6137,0,0,0
3408,2017/03/29,74.45,74.5,74,74,74.9,73.75,21.7391,54.4708,69.2327,0,0,0
3409,2017/03/30,74,74.25,73.9,73.9,74.9,73.85,4.7619,37.9011,58.7889,0,0,0
3410,2017/03/31,73.95,74.1,73.7,73.7,74.9,73.7,0,25.2674,47.615,0,0,0
3411,2017/04/05,73.95,74.8,73.95,74.65,74.8,73.7,86.3636,45.6328,46.9543,0,0,0
3412,2017/04/06,74.8,74.8,74.3,74.4,74.8,73.7,63.6364,51.634,48.5142,1,1,0
3413,2017/04/07,74.3,74.3,73.4,74.1,74.8,73.4,50,51.0893,49.3726,0,1,0
3414,2017/04/10,74.1,74.25,74,74.2,74.8,73.4,57.1429,53.1072,50.6174,0,1,0
3415,2017/04/11,74.1,74.4,73.75,73.9,74.8,73.4,35.7143,47.3095,49.5148,0,0,1
3416,2017/04/12,73.9,74.1,73.65,74.05,74.8,73.4,46.4286,47.0159,48.6818,0,0,0
3417,2017/04/13,73.9,74.45,73.9,74.4,74.8,73.4,71.4286,55.1534,50.839,1,1,0
3418,2017/04/14,73.9,73.9,73.5,73.55,74.8,73.4,10.7143,40.3404,47.3395,0,0,1
3419,2017/04/17,73.55,73.8,73.35,73.6,74.8,73.35,17.2414,32.6407,42.4399,0,0,0
3420,2017/04/18,73.85,74,73.5,73.6,74.8,73.35,17.2414,27.5076,37.4625,0,0,0
3421,2017/04/19,73.1,73.25,72.65,72.8,74.45,72.65,8.33333,21.1162,32.0137,0,0,0
3422,2017/04/20,72.55,72.9,72.5,72.8,74.45,72.5,15.3846,19.2057,27.7444,0,0,0
3423,2017/04/21,73.25,73.5,73.1,73.5,74.45,72.5,51.2821,29.8978,28.4622,1,1,0
3424,2017/04/24,73.9,73.95,73.45,73.65,74.45,72.5,58.9744,39.59,32.1714,0,1,0
3425,2017/04/25,73.85,74.4,73.7,74.35,74.45,72.5,94.8718,58.0173,40.7867,0,1,0
3426,2017/04/26,74.7,74.7,74.4,74.55,74.7,72.5,93.1818,69.7388,50.4374,0,1,0
3427,2017/04/27,74.35,74.5,74.15,74.5,74.7,72.5,90.9091,76.7955,59.2234,0,1,0